.main{
    height: 1000px;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.left{
    background-color: blue;
    flex: 2;
    background-image: url("form_background.jpg");
    background-size: cover;
}

.right{
    flex:3
}

.banner{
    height: 150px; 
    background-color:rgba(0, 0, 0, 0.5);
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@font-face {
    font-family: 'OdinFont'; 
    src: url('Norse-Bold.otf') format('opentype'); /* Path to the .otf file */
    font-weight: normal;
    font-style: normal;
}


.banner h1 {
    font-family: "OdinFont";
    color: white;
    font-size: 100px;
    margin: 0; /* Remove default margin */
    line-height: 1; /* Prevent extra spacing */
    display: flex;
    align-items: center; /* Helps with vertical alignment */
    padding-top: 20px;
}

.form-div{
    height: 350px;
    background-color: white;
    margin-top: 5%;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.1);  
    padding-left: 50px;
}

.top-text{ 
    font-family: "Roboto";
    margin-left: 40px;
    margin-top: 150px;
    font-size: 25px;
    font-weight: 400;
}

.input-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
    gap: 20px; /* Adds spacing between inputs */

}

.input-group {
    display: flex;
    flex-direction: column; /* Stacks label above input */
}

.input-group input{
    width: 250px;
    height: 30px;
}
 
input:user-invalid {
    border: 2px solid red; /* Red border when invalid after interaction */
    outline: none; /* Removes default focus outline */
}

.form-div{
    font-family: "Roboto";
}

.footer{
    padding-left: 45px;
    padding-top: 40px;
    font-family: "Roboto";
}

.create-button{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    border-color: #596D48;
}

.log-in:hover{ 
    cursor: pointer;
}